
{% block body %}
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">New living</span>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('load_main_panel') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('load_dashboard') }}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('load_user_profile') }}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('load_main_panel') }}">Settings</a> {# TODO: ZMIENIC LINK NA COŚ SENSOWNEGO #}
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            About
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('load_main_panel') }}">Application</a></li> {# TODO: ZMIENIC LINK NA COŚ SENSOWNEGO #}
                            <li><a class="dropdown-item" href="{{ path('load_main_panel') }}">Author</a></li> {# TODO: ZMIENIC LINK NA COŚ SENSOWNEGO #}
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
{% endblock %}